Source: buffy
Section: mail
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends:
 debhelper (>= 9), dh-buildinfo, pkg-config,
 libbuffy-dev (>= 1.6), libbuffy-dev (<< 2.0),
 libwibble-dev (>= 1.0), libwibble-dev (<< 2.0),
 libqt4-dev
Standards-Version: 3.9.4.0
Vcs-Git: git://anonscm.debian.org/buffy/buffy-qt.git
Vcs-Browser: http://anonscm.debian.org/cgit/buffy/buffy-qt.git/

Package: buffy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Heavy duty browser for mail folders
 Buffy is a program that displays a compact summary of your mail folders, and
 allows to invoke a command (usually a mail reader) on them.  It is written
 with the intent of being a handy everyday tool for people handling large
 volumes of mail.  For mutt users, this can be a nice front-end to supplement
 the simple built-in folder browser when one has many folders to keep track of.
 .
 Buffy tries hard to work out of the box: it looks for mail folders in sensible
 places and comes with reasonable defaults.
 .
 The program is functional but still very young, and only Maildir and
 Mailbox format are supported at the moment.
